 <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <label>Name:</label>
  <input type="text" formControlName="name">
  <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
    Name is required
  </div>

  <label>Email:</label>
  <input type="email" formControlName="email">
  <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
    Enter valid email
  </div>

  <label>Username:</label>
  <input type="text" formControlName="username">

  <label>Password:</label>
  <input type="password" formControlName="password">
  <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
    Minimum 6 characters required
  </div>

  <button type="submit" [disabled]="registerForm.invalid">
    Register
  </button>
  
<button (click)="loadUsers()">Load Users</button>
<ul>
  <li *ngFor="let user of users">
    {{user.name}} - {{user.email}}
  </li>
</ul>
</form>